# CS779 Advance DBMS system Term Project | Anjana Nittur

## Kaggle dataset - historical data

In [24]:
import pandas as pd
df = pd.read_csv("filtered_data.csv")

In [25]:
df.head(2)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2

In [26]:
df.shape

(18684374, 9)

In [27]:
df.isna().sum()

event_time           0
event_type           0
product_id           0
category_id          0
category_code        0
brand            35726
price                0
user_id              0
user_session         5
dtype: int64

In [28]:
df.dropna()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2
2,2019-11-01 00:00:02 UTC,view,1004258,2053013555631882655,electronics.smartphone,apple,732.07,532647354,d2d3d2c6-631d-489e-9fb5-06f340b85be0
3,2019-11-01 00:00:07 UTC,view,1004566,2053013555631882655,electronics.smartphone,huawei,164.84,566265908,52c2c76c-b79e-4794-86ff-badc76d35f5a
4,2019-11-01 00:00:08 UTC,view,1004708,2053013555631882655,electronics.smartphone,huawei,151.99,566143627,aa610ab3-5c60-4551-8a2b-8c999dddf843
...,...,...,...,...,...,...,...,...,...
18684369,2019-11-30 23:59:53 UTC,view,4804294,2053013554658804075,electronics.audio.headphone,meizu,64.09,513558661,378e7ed4-649a-4302-b917-b953da5ee801
18684370,2019-11-30 23:59:54 UTC,view,1005174,2053013555631882655,electronics.smartphone,samsung,591.75,579969525,180a7f1f-ed0c-485a-b145-a980716d6abb
18684371,2019-11-30 23:59:54 UTC,view,1005118,2053013555631882655,electronics.smartphone,apple,925.47,579969045,ee246970-62cb-4105-a049-703cdaee3a26
18684372,2019-11-30 23:59:59 UTC,view,1004833,2053013555631882655,electronics.smartphone,samsung,167.03,557794415,6fecf566-ebb0-4e70-a243-cdc13ce044cb
18684373,2019-11-30 23:59:59 UTC,view,1004233,2053013555631882655,electronics.smartphone,apple,1312.52,579969851,90aca71c-ed8a-4670-866a-761ebacb732d

In [29]:
df['brand'].unique()

array(['xiaomi', 'apple', 'huawei', 'acme', 'samsung', 'oppo', 'hp',
       'steelseries', 'oneplus', 'irbis', 'vivo', 'nokia', 'meizu',
       'lenovo', 'honor', 'tp-link', 'elari', 'zte', 'harper', 'sony',
       'acer', 'lg', 'usams', 'bq', 'htc', 'blackberry', 'jbl', 'hyperx',
       'vertex', 'google', nan, 'sennheiser', 'bose', 'huion', 'wacom',
       'kingston', 'prestigio', 'parrot', 'haier', 'razer', 'inoi',
       'jinga', 'doogee', 'nubia', 'creative', 'defender', 'beats',
       'texet', 'marshall', 'panasonic', 'olmio', 'microsoft', 'asus',
       'urbanears', 'awei', 'umi', 'fly', 'nexttab', 'jabra', 'koss',
       'olto', 'edifier', 'plantronics', 'beyerdynamic', 'tecno',
       'canyon', 'philips', 'trust', 'ritmix', 'genius', 'zalman', 'sven',
       'microlab', 'gionee', 'cnd', 'oukitel', 'orico', 'denn',
       'redragon', 'crown', 'audio-technica', 'krk', 'continent',
       'fender', 'wuw', 'leeco', 'inkax', 'micromax', 'xp-pen', 'pioneer',
       'presonus', 'hoco', 'global', 'marley', 'manhattan', 'fiio',
       'veho', 'bluedio', 'fostex', 'logitech', 'alctron', 'ipipoo',
       'qcyber', 'havit', 'leagoo', 'akg', 'ergo', 'joyroom', 'navitel',
       'jvc', 'yamaha', 'gamemax', 'shure', 'hercules', 'rapoo', 'roland',
       'intro', 'westone', 'rombica', 'nuforce', 'monster', 'vox',
       'magnat', 'soundking', 'gigabyte', 'remax', 'cowon', 'elenberg',
       'alesis', 'behringer', 'numark', 'hiper', 'acqua', 'superlux',
       'delux', 'ultrasone', 'msi', 'tascam', 'hifiman', 'dunu', 'meze',
       'g-cube', 'ark', 'samson', 'nomi', 'proel', 'siee', 'casio',
       'm-audio', 'tesoro', 'avermedia', 'celebrat', 'skullcandy',
       'gembird', 'sades', 'kalenji', 'borasco', 'nobby', 'gamdias',
       'motorola', 'cougar', 'aula', 'bravis', 'yison', 'mark', 'iwalk',
       'invotone', 'moxom'], dtype=object)

In [30]:
# Replace NaN values in the 'brand' column with "Unknown Brand"
df['brand'] = df['brand'].fillna("Unknown Brand")

print("NaN values in 'brand' column replaced with 'Unknown Brand'.")

NaN values in 'brand' column replaced with 'Unknown Brand'.

In [31]:
# Replace values in the 'category_code' column
df['category_code'] = df['category_code'].replace({
    'electronics.smartphone': 'smartphone',
    'electronics.audio.headphone': 'headphone',
    'electronics.tablet': 'tablet'
})
print("Values in 'category_code' column updated successfully.")

Values in 'category_code' column updated successfully.

In [32]:
df.isna().sum()

event_time       0
event_type       0
product_id       0
category_id      0
category_code    0
brand            0
price            0
user_id          0
user_session     5
dtype: int64

In [33]:
df.to_csv("cleaned_kaggle_data.csv")

In [34]:
df

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2
2,2019-11-01 00:00:02 UTC,view,1004258,2053013555631882655,smartphone,apple,732.07,532647354,d2d3d2c6-631d-489e-9fb5-06f340b85be0
3,2019-11-01 00:00:07 UTC,view,1004566,2053013555631882655,smartphone,huawei,164.84,566265908,52c2c76c-b79e-4794-86ff-badc76d35f5a
4,2019-11-01 00:00:08 UTC,view,1004708,2053013555631882655,smartphone,huawei,151.99,566143627,aa610ab3-5c60-4551-8a2b-8c999dddf843
...,...,...,...,...,...,...,...,...,...
18684369,2019-11-30 23:59:53 UTC,view,4804294,2053013554658804075,headphone,meizu,64.09,513558661,378e7ed4-649a-4302-b917-b953da5ee801
18684370,2019-11-30 23:59:54 UTC,view,1005174,2053013555631882655,smartphone,samsung,591.75,579969525,180a7f1f-ed0c-485a-b145-a980716d6abb
18684371,2019-11-30 23:59:54 UTC,view,1005118,2053013555631882655,smartphone,apple,925.47,579969045,ee246970-62cb-4105-a049-703cdaee3a26
18684372,2019-11-30 23:59:59 UTC,view,1004833,2053013555631882655,smartphone,samsung,167.03,557794415,6fecf566-ebb0-4e70-a243-cdc13ce044cb
18684373,2019-11-30 23:59:59 UTC,view,1004233,2053013555631882655,smartphone,apple,1312.52,579969851,90aca71c-ed8a-4670-866a-761ebacb732d

In [35]:
import pandas as pd
df = pd.read_csv("cleaned_kaggle_data.csv")

In [36]:
if 'Unnamed: 0' in df.columns:
    df = df.drop(columns=['Unnamed: 0'])

In [37]:
df.to_csv("new_kaggle_dataset.csv", index= False)

In [1]:
import pandas as pd
df = pd.read_csv("new_kaggle_dataset.csv")

In [6]:
df.columns

Index(['event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price', 'user_id', 'user_session'],
      dtype='object')

## Ebay dataset - Real-time data

In [1]:
import pandas as pd
df_ebay = pd.read_csv("ebay_cleaned_dataset.csv")

In [3]:
df_ebay.shape

(15000, 9)

In [4]:
df_ebay.head(2)

,event_type,product_id,category_code,brand,price,shipping_price,seller,ratings,title
0,view,NaN,smartphone,Unknown Brand,NaN,0.0,Unknown Seller,NaN,NaN
1,view,NaN,smartphone,Unknown Brand,NaN,0.0,Unknown Seller,NaN,NaN

In [5]:
df_ebay.isna().sum()

event_type            0
product_id          500
category_code         0
brand                 0
price               524
shipping_price        0
seller                0
ratings           10173
title               486
dtype: int64

In [6]:
df_ebay_filter = df_ebay

In [7]:
import pandas as pd
import random

# List of known brands
known_brands = ['xiaomi', 'apple', 'huawei', 'acme', 'samsung', 'oppo', 'hp',
       'steelseries', 'oneplus', 'irbis', 'vivo', 'nokia', 'meizu',
       'lenovo', 'honor', 'tp-link', 'elari', 'zte', 'harper', 'sony',
       'acer', 'lg', 'usams', 'bq', 'htc', 'blackberry', 'jbl', 'hyperx',
       'vertex', 'google', 'sennheiser', 'bose', 'huion', 'wacom',
       'kingston', 'prestigio', 'parrot', 'haier', 'razer', 'inoi',
       'jinga', 'doogee', 'nubia', 'creative', 'defender', 'beats',
       'texet', 'marshall', 'panasonic', 'olmio', 'microsoft', 'asus',
       'urbanears', 'awei', 'umi', 'fly', 'nexttab', 'jabra', 'koss',
       'olto', 'edifier', 'plantronics', 'beyerdynamic', 'tecno',
       'canyon', 'philips', 'trust', 'ritmix', 'genius', 'zalman', 'sven',
       'microlab', 'gionee', 'cnd', 'oukitel', 'orico', 'denn',
       'redragon', 'crown', 'audio-technica', 'krk', 'continent',
       'fender', 'wuw', 'leeco', 'inkax', 'micromax', 'xp-pen', 'pioneer',
       'presonus', 'hoco', 'global', 'marley', 'manhattan', 'fiio',
       'veho', 'bluedio', 'fostex', 'logitech', 'alctron', 'ipipoo',
       'qcyber', 'havit', 'leagoo', 'akg', 'ergo', 'joyroom', 'navitel',
       'jvc', 'yamaha', 'gamemax', 'shure', 'hercules', 'rapoo', 'roland',
       'intro', 'westone', 'rombica', 'nuforce', 'monster', 'vox',
       'magnat', 'soundking', 'gigabyte', 'remax', 'cowon', 'elenberg',
       'alesis', 'behringer', 'numark', 'hiper', 'acqua', 'superlux',
       'delux', 'ultrasone', 'msi', 'tascam', 'hifiman', 'dunu', 'meze',
       'g-cube', 'ark', 'samson', 'nomi', 'proel', 'siee', 'casio',
       'm-audio', 'tesoro', 'avermedia', 'celebrat', 'skullcandy',
       'gembird', 'sades', 'kalenji', 'borasco', 'nobby', 'gamdias',
       'motorola', 'cougar', 'aula', 'bravis', 'yison', 'mark', 'iwalk',
       'invotone', 'moxom'
]

# Task 1: Extract brand name from title if found in the list, otherwise assign "Unknown Brand"
def extract_brand(title):
    if not isinstance(title, str):
        return "Unknown Brand"
    for brand in known_brands:
        if brand.lower() in title.lower():  # Case-insensitive search
            return brand
    return "Unknown Brand"

# Apply the function to populate the 'brand' column
df_ebay_filter['brand'] = df_ebay_filter['title'].apply(extract_brand)

# Save the updated DataFrame
#df.to_csv('updated_dataset_with_brands.csv', index=False)

print("Brand extraction complete!")

Brand extraction complete!

In [8]:
# Task 2: Populate the 'shipping_price' column
def populate_shipping_price():
    # Randomly assign 0 or a shipping price between 1 to 15
    return 0 if random.random() < 0.3 else random.randint(1, 15)  # 30% chance for 0, 70% for 1-15

# Apply the function to populate the 'shipping_price' column
df_ebay_filter['shipping_price'] = df_ebay_filter['shipping_price'].apply(lambda x: populate_shipping_price())

In [12]:
df_ebay_filter

,event_type,product_id,category_code,brand,price,shipping_price,seller,ratings,title
0,view,NaN,smartphone,Unknown Brand,NaN,7,Unknown Seller,1.0,NaN
1,view,NaN,smartphone,Unknown Brand,NaN,13,Unknown Seller,4.5,NaN
2,view,item34b4095121,smartphone,apple,129.99,4,"cocosprinkles (32,561) 99.7%",5.0,Apple iPhone 8 (Great Condition) Unlocked AT&T...
3,view,item34b40966cc,smartphone,apple,142.99,6,"cocosprinkles (32,561) 99.7%",4.5,Apple iPhone SE 2nd Gen (Great Cond) Unlocked ...
4,view,item3499ac84f2,smartphone,apple,269.99,0,"cocosprinkles (32,561) 99.7%",4.5,Apple iPhone 11 (Great Condition) Unlocked 64G...
...,...,...,...,...,...,...,...,...,...
14995,view,item1f775d883b,tablet,Unknown Brand,99.99,0,"ninjamo-us (15,154) 98.9%",5.0,"ONN 11.6"" BLACK Tablet Pro with Keyboard 64GB ..."
14996,view,item26a17d55c9,tablet,Unknown Brand,2.88,0,brookpalafo_0 (291) 100%,4.5,"Amazon Fire 7 (7th Generation) 8GB, Wi-Fi, 7In..."
14997,view,item52c6e02bf0,tablet,apple,39.99,11,dilloncronce (784) 97.8%,4.5,Apple iPad 2 A1396 Silver Lightweight Touchscr...
14998,view,item2b79e6ec78,tablet,apple,32.00,0,joereichar_0 (190) 97.7%,4.5,2 Apple iPad 2 Model A1395 16 GB Wi-Fi White *...
14999,view,item427e2462d7,tablet,Unknown Brand,27.95,9,digital_discounts_hq (784) 99.3%,3.5,Gigaset QV830 Quad-Core 1.2GHz 8GB 8in Android...

In [10]:
# Task 2: Populate the 'ratings' column
def populate_ratings(existing_value):
    if pd.isnull(existing_value):  # If the value is NaN, assign a random rating
        possible_ratings = [1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5]
        return random.choice(possible_ratings)
    return existing_value  # Leave existing ratings as they are

# Apply the function to populate the 'ratings' column
df_ebay_filter['ratings'] = df_ebay_filter['ratings'].apply(populate_ratings)

In [14]:
df_ebay_filter.isna().sum()

event_type        0
product_id        0
category_code     0
brand             0
price             0
shipping_price    0
seller            0
ratings           0
title             0
dtype: int64

In [13]:
df_ebay_filter = df_ebay_filter.dropna()

In [15]:
import pandas as pd
df_ebay_filter = pd.read_csv("cleaned_ebay_dataset.csv")

In [16]:
df_ebay_filter.columns

Index(['Unnamed: 0', 'event_type', 'product_id', 'category_code', 'brand',
       'price', 'shipping_price', 'seller', 'ratings', 'title'],
      dtype='object')

In [17]:
if 'Unnamed: 0' in df_ebay_filter.columns:
    df_ebay_filter = df_ebay_filter.drop(columns=['Unnamed: 0'])

In [18]:
df_ebay_filter.to_csv("new_ebay_dataset.csv", index= False)

In [19]:
df_ebay_filter['seller'].unique()

array(['cocosprinkles (32,561) 99.7%', 'ideal-mobile (4,890) 99.1%',
       'cellfeee (111,785) 97.8%', ..., 'dilloncronce (784) 97.8%',
       'joereichar_0 (190) 97.7%', 'digital_discounts_hq (784) 99.3%'],
      dtype=object)

In [20]:
# Check for duplicate product_id
duplicates = df_ebay_filter[df_ebay_filter.duplicated(subset=['product_id'], keep=False)]

# Display duplicates
print(duplicates)

      event_type      product_id category_code          brand   price  \
14          view  item3bbd3252d5    smartphone         google  189.95
28          view  item3bb945bb59    smartphone         google  142.45
29          view  item1f1b6c8ffc    smartphone        samsung  119.48
30          view  item3b6c7c4dd3    smartphone        samsung  204.99
31          view  item1f85e21695    smartphone        samsung  179.99
...          ...             ...           ...            ...     ...
14446       view  item34655af43a        tablet      microsoft  249.99
14447       view  item4e28a597c5        tablet          apple  285.00
14449       view  item4944d7685a        tablet  Unknown Brand    9.95
14450       view  item5778a2772d        tablet  Unknown Brand   68.68
14452       view  item493e9949f7        tablet  Unknown Brand   32.24

       shipping_price                             seller  ratings  \
14                  0             uki-mobile (3,431) 99%      4.0
28                  9             uki-mobile (3,431) 99%      5.0
29                  0  everythingforlesss (73,188) 99.7%      1.5
30                  0           cellfeee (111,785) 97.8%      5.0
31                  0       tradeportusa (168,418) 97.9%      4.5
...               ...                                ...      ...
14446               0            jwatter618 (2,090) 100%      2.0
14447               6              xtanyao (4,164) 98.7%      3.0
14449              11        dtx-electronics (514) 99.3%      4.0
14450              12     tradinginvintage (5,470) 99.4%      4.0
14452               0               krison_shop (4) 100%      1.5

                                                   title
14     Google Pixel 7 | 7a | 7 Pro - 128GB | 256GB | ...
28     Google Pixel 6 | 6a | 6 Pro - 128 GB (Unlocked...
29     Samsung Galaxy S10e 128gb G970U Factory Unlock...
30     Samsung Galaxy Note20 128GB N981U Unlocked - V...
31     Samsung Galaxy S20 Plus 5G 128GB/12GB 6.7 Inch...
...                                                  ...
14446  Microsoft Surface Pro 4 -128GB, 4GB, Intel i5 ...
14447  NEW LISTINGAPPLE IPAD PRO 12.9" MPL02LL/A | 51...
14449  Nextbook ares 8A BOOT FAILED!!! FOR REPAIR OR ...
14450  Hyundai 10.1” HD IPS Tablet w/ Android 12 Go E...
14452     balck tablet bundled with charger and turns on

[5331 rows x 9 columns]

In [21]:
# Remove duplicates (keeping the first occurrence)
df_ebay_filter = df_ebay_filter.drop_duplicates(subset=['product_id'])

In [22]:
df_ebay_filter.shape

(11701, 9)

In [38]:
df_ebay_filter

,event_type,product_id,category_code,brand,price,shipping_price,seller,ratings,title
0,view,item34b4095121,smartphone,apple,129.99,0,"cocosprinkles (32,561) 99.7%",5.0,Apple iPhone 8 (Great Condition) Unlocked AT&T...
1,view,item34b40966cc,smartphone,apple,142.99,7,"cocosprinkles (32,561) 99.7%",4.5,Apple iPhone SE 2nd Gen (Great Cond) Unlocked ...
2,view,item3499ac84f2,smartphone,apple,269.99,0,"cocosprinkles (32,561) 99.7%",4.5,Apple iPhone 11 (Great Condition) Unlocked 64G...
3,view,item2b70dcdf18,smartphone,google,189.95,15,"ideal-mobile (4,890) 99.1%",4.0,Google Pixel 7a | 7 | 7 Pro - 128GB 256GB 512G...
4,view,item3b5e6c61fd,smartphone,samsung,157.99,15,"cellfeee (111,785) 97.8%",4.5,Samsung Galaxy S21 5G 128GB G991U Unlocked - Good
...,...,...,...,...,...,...,...,...,...
14457,view,item1f775d883b,tablet,Unknown Brand,99.99,10,"ninjamo-us (15,154) 98.9%",4.0,"ONN 11.6"" BLACK Tablet Pro with Keyboard 64GB ..."
14458,view,item26a17d55c9,tablet,Unknown Brand,2.88,12,brookpalafo_0 (291) 100%,4.5,"Amazon Fire 7 (7th Generation) 8GB, Wi-Fi, 7In..."
14459,view,item52c6e02bf0,tablet,apple,39.99,0,dilloncronce (784) 97.8%,2.0,Apple iPad 2 A1396 Silver Lightweight Touchscr...
14460,view,item2b79e6ec78,tablet,apple,32.00,2,joereichar_0 (190) 97.7%,4.5,2 Apple iPad 2 Model A1395 16 GB Wi-Fi White *...
14461,view,item427e2462d7,tablet,Unknown Brand,27.95,12,digital_discounts_hq (784) 99.3%,3.5,Gigaset QV830 Quad-Core 1.2GHz 8GB 8in Android...

In [23]:
df_ebay_filter.to_csv("new_ebay_dataset.csv", index= False)